body {
  background-color: #FAFAF7;
  font-family: 'gibsonregular', sans-serif;
}

a {
  color: #003D4D
}

h5 {
  background: #EDEDED;
  max-width: 50%;
  text-align: center;
  border-radius: 5%;
  padding: 5px;
}

.logo {
  margin-bottom: 25px;
}

.navigation {
  margin-bottom: 5em;
}

.navbar-brand {
  color: #003D4D !important;
  font-size: 40px;
}

#chooseClient {
  max-width: 50%;
}

.btn {
  background: #E97C36;
  border: none;
  box-shadow: 1px 1px 1px #808080;
  color: #FFFFFF;
  display: inline;
  font-size: medium;
  margin: 2em auto;
  padding: 1em;
}

.btn:hover {
  filter: brightness(85%);
  background: #E97C36;
}

btn:active {
  border: none;
  box-shadow: none;
  left: 1px;
  outline: none;
  position: relative;
  top: 1px;
}

#errorMessage {
  /* hide by default; noty will unhide with style when necessary */
  display: none;
}

#inactive-tooltip {
  border-radius: 50%;
  display: inline-block;
  font-size: small;
  height: 16px;
  text-align: center;
  width: 16px;
}

footer {
  text-align: center;
  margin-top: 10em;
  font-size: 12px;
}

.notice {
  background-color: #FFF3D4;
  border: thin solid #000000;
  font-weight: bold;
  padding: 3px;
  margin: 20px;
  text-align: center;
}